<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826578568601-q7klekvonqc9h78opob58sfd6rdan9ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826578568601-q7klekvonqc9h78opob58sfd6rdan9ta</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQcMjfxcjufwdBbPEnConj9wMcLrdIFY</string>
	<key>GCM_SENDER_ID</key>
	<string>826578568601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contact</string>
	<key>PROJECT_ID</key>
	<string>fluttercontact</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercontact.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826578568601:ios:15b70533c693fc74</string>
	<key>DATABASE_URL</key>
	<string>https://fluttercontact.firebaseio.com</string>
</dict>
</plist>